.achivement {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 100px;
  h2 {
    width: 100%;
    color: beige;
    font-size: 30px;
    letter-spacing: 2px;
  }
  h2::after {
    content: "";
    background-color: #fe8040;
    left: 150px;
    bottom: -1610px;
    width: 150px;
    height: 2px;
  }
  .achive-card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 20px;
    .achive-card {
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      .content-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 20px;
        position: absolute;
        inset: 0;
        color: beige;
        transition: 200ms ease-in-out;
        margin-top: 90px;
        transform: translate(60%);
        background-color: #BEA6A0aa;
        border-radius: 50%;
        aspect-ratio: 1/1;
        color: #1c1c1c;
        cursor: pointer;
        h4 {
          opacity: 0;
          font-size: 25px;
          border-bottom: 2px solid #303030;
        }
        h3,p{
          opacity: 0;
          margin-top: 10px;
          text-align: center;
        }
      }
      img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: 200ms ease-in-out;
      }
    }
    .achive-card:hover .content-holder {
      margin: 0;
      transform: translateY(0%);
      border-radius: 0px;
      backdrop-filter: blur(2px);
      aspect-ratio: 2/2;

      h4,h3,p {
        opacity: 1;
      }
    }
  }
}
