.contact {
  display: flex;
  justify-content: start;
  flex-direction: column;
  h2 {
    width: 100%;
    color: beige;
    font-size: 30px;
    letter-spacing: 2px;
  }
  h2::after {
    content: "";
    background-color: #fe8040;
    left: 150px;
    bottom: -2345px;
    width: 150px;
    height: 2px;
  }
  .contact-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
    margin-top: 10px;
    .contact-card {
      padding: 10px 0 10px;
      h4{
        display: inline-block;
        margin-bottom: 10px;
        font-size: 20px;
        color: #ccc;
        border-bottom: 2px solid #303030;
      }
      span{
        color: antiquewhite;
        font-size: 18px;
      }
      a{
        color: antiquewhite;
        text-decoration: none;
      }
      i{
        text-align: center;
        border: 3px solid #fe8040;
        font-size: 30px;
        border-radius: 50%;
        padding: 10px;
        margin: 0 0 10px 0px;
        transition: 200ms ease-in-out;
      }
      i:hover{
        background-color: #fe8040;
        color: #1c1c1c;
      }
    }
  }
}
